@charset "UTF-8";

body, html{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p{  
    display: block;
    font-size: 20px;
}

div{
    height: 200px;
    width: 200px;
    background-color: black;
}

.animation-element {
    position: relative;
    top: 20px;
    opacity: 0;
    transition: opacity 1s ease, transform 1s;
}


.appear {
    opacity: 1;
    transform: translateY();
}
