@charset "UTF-8";

*{
    cursor: default;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin-top: 0px;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color:  rgba(32, 32, 32, 0.637);
}

body, html{
    margin: 0px;
    width: 100%;
    height: 100vh;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}

section{
    height:  auto;
    width: 350px;
    padding-bottom: 2em;
    margin: auto;
    text-align: center;
    background-color: rgba(32, 32, 32, 0.637);
    color: white;
    border-radius: 20px;
    box-shadow: 4px 6px 8px 2px rgba(0, 0, 0, 0.555);
}

section > div > p{
    margin: 1em;
}

div{
    padding-top: .5em;
}

input{
    height: 30px;
    color: black;
    width: 60px;
    margin-right: 20px;
    border: 0px;
    border-radius: 5px;
    box-shadow: 4px 6px 8px 2px rgba(0, 0, 0, 0.555);
    transition: color .5s, background-color .5s, transform .5s;
}

input:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    box-shadow: 7px 7px 8px 2px rgba(0, 0, 0, 0.555);
    transform: scale(1.1);
    transition: color .5s, background-color .5s, transform .5s, box-shadown .5s;
}

img{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    padding: 1em;
    border-radius: 10px;
}

footer{
    margin: auto;
    margin-top: 1em;
    padding: .5em;
    width: 200px;
    border-radius: 10px;
    background-color:  rgba(32, 32, 32, 0.637);
    box-shadow: 4px 6px 8px 2px rgba(0, 0, 0, 0.555);
}

/* animações js */

.transicao-fundo{
    transition: background-image 1s ease
}
